.card {
    padding: 2rem;
    background-image: url(https://unsplash.it/600);
    /* placeholder image */
    backgrond-size: cover;
    background-color: #444;
    background-blend-mode: multiply;
    color: white;
    text-align: left;
}

.card-title {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 1rem;
}

.card-title::after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: #ee6352;
    z-index: -1;
}

.card-body {
    position: relative;
    z-index: 1;
    color: transparent;
    margin: 0;
    transition: color 150ms 350ms;
}

.card-body::after {
    content: "";
    position: absolute;
    top: -0.75rem;
    bottom: -0.75rem;
    left: -0.75em;
    right: -0.75em;
    background: white;
    z-index: -1;
}

body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background: #ddd;
}

.content {
    background: white;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 1em;
}

.title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: #ee6352;
    line-height: 0.8;
}
